/**---------------- Variables -----------------*/
:root {
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --primary-accent-color: hsl(0, 0%, 50%);
    --primary-accent-text: hsl(0, 0%, 0%);
    --secondary-accent-color: hsl(0, 0%, 30%);
    --separator-color: hsl(0, 0%, 50%, 0.1);
    --border-color: hsl(0, 0%, 50%, 0.3);
    --card-background: hsl(0, 0%, 50%, 0.3);
    --hover-color: hsl(0, 0%, 50%, 0.6);
    --hover-cta-color: hsl(0, 0%, 50%, 0.9);
}

/**----------------- Global -------------------*/
* {
    color: var(--text-color)
}
body {
    background: var(--background-color);
}
h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
}

/**------------ Colors Container --------------*/
.colors-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.color {
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color);
}

/**------------------ Cards -------------------*/
.card-container {
    width: 30%;
    padding: 1rem;
    border: 1px solid var(--border-color);
    background: var(--card-background);
}

.card-title {
    color: var(--secondary-accent-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.card-container p {
    margin-bottom: 0.25rem
}
.button-container {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/**----------------- Buttons ------------------*/
.button {
    padding: 0.5rem 1rem;
    color: var(--secondary-accent-color);
    font-weight: bold;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}
.button:hover {
    background: var(--hover-color);
    color: var(--primary-accent-text);
    transform: scale(1.05);
}
.button:active {
    transform: scale(0.95);
}

.cta {
    color: var(--primary-accent-text);
    border: 1px solid var(--border-color);
    background: var(--primary-accent-color);
}
.cta:hover {
    background: var(--hover-cta-color);
}